@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

:root {
  --nyx-cursor: url('/assets/cursor-48.png') 4 2;
}

*,
*::before,
*::after {
  cursor: var(--nyx-cursor), auto !important;
}

a,
button,
[role='button'],
input,
select,
textarea,
summary,
label,
details,
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  cursor: var(--nyx-cursor), pointer !important;
}
